name: .NET Core

on:
  push:
    branches:
      - master
      - ci
  pull_request:
    branches:
      - master
      - ci

jobs:
  build:
    runs-on: windows-2019
    env:
      DOTNET_NOLOGO: true
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100-preview.8.20417.9
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true
    - name: Build MSI
      run: |
        "%WIX%bin\candle.exe" Installer\*.wxs -out Installer\Installer.wix.obj -dTargetDir="AutoPowerManagementForShelfDevices\bin\Release\netcoreapp5.0\win-x64\publish"
        md Installer\bin
        "%WIX%bin\light.exe" -b "Installer\bin" -out "Installer\bin\AutoPowerManagementForShelfDevice.msi" Installer\Installer.wix.obj
    - uses: actions/upload-artifact@v2
      with:
        name: MSIPublish
        path: Installer\bin\AutoPowerManagementForShelfDevice.msi
